body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;

}

.navbar-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    padding: 0px;
    align-items: center;

}

.logo {
    width: 230px;
    height: auto;
    cursor: pointer;
    padding: 0.5rem;
}


.header-content {
    height: 100vh;
}


.banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    block-size: center;
    position: relative;
    overflow: hidden;
}


video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 10px;
}


.scroll-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    max-height: 0;
    overflow: hidden;
}

.container:hover .scroll-content {
    display: block;
    opacity: 1;
    max-height: 100%;
}
.section{
    font-size: 5vw;
}

section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 28, 85, 0.897);
    color: #afafaf;
    padding: 0.5rem;
    padding-bottom: 2%;
    width: 96%;
    margin: 2.5rem auto;
    outline: none;
    box-shadow: 0 0 25px rgb(0, 48, 145)
}


.navbar {
    height: 50px;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Pridajte tieň */
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    display: flex;
    align-items: center
}

.content {
    width: 100%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    margin-top: 10rem;
    font-size: 5vw;
    font-weight: 800;
}

button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: rgb(185, 185, 185);
    transition: 0.5s;
    color: #ffffff;
}

.banner video {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.navbar ul {
    padding: 0%;
}

.obrazky {
    width: auto;
    height: auto;
    z-index: 200;
    padding: 1rem;
}

.pozadie {
    background-color: rgb(79, 79, 79);
    width: auto;
    height: 300px;
}

.container- {
    border-radius: 17px;
    box-sizing: border-box;
    background-color: rgb(79, 79, 79);
    padding: 2rem;
    margin-bottom: 0%;
    box-shadow: 0 0 25px rgb(22, 22, 22);
}

.flex-container- {
    display: flex;
    background-color: rgb(79, 79, 79);
    display: flex;
    align-items: stretch;
    margin-bottom: 2rem;
    padding: 0.5rem;
    flex-wrap: nowrap;
}

.zaklady {
    padding: 3.5rem;
    
}

.top {
    z-index: 1;
    display: flex;
    background-color: rgb(0, 127, 150);
    align-items: stretch;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.container {
    border-radius: 17px;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0rem;
    position: relative;

}

.image-container {
    border-radius: 17px;
    position: relative;
    width: 30%;
    height: auto;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    background-color: rgb(79, 79, 79);
    padding: 1rem;
    box-shadow: 0 0 25px rgb(22, 22, 22);

}

.image {
    width: 100%;
}

.static-text-container,
.text-container {
    border-radius: 17px;
    z-index: 0;
    display: flex;
    right: auto;
    width: 60%; /* Toto je aktuálna šírka textového kontajnera, môžete ju zmeniť podľa potreby */
    left: 0;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out, height 0.5s ease-in-out;
    background-color: rgb(41, 41, 41);
    color: rgb(185, 185, 185);
    box-shadow: 0 0 25px rgb(22, 22, 22);
}

.container:hover .text-container {
    opacity: 1;
    left: 52%;
    right: auto;
    width: 48%;
    background-color: #3a3a3a;
}

.static-text-container {

    z-index: 0;
    width: 67%;
    right: 0;
    left: auto;
}

.container:hover .image-container {
    width: 48%;
}

.container:not(:hover) .text-container {
    opacity: 0;
    left: 0;
}

.container:not(:hover) .static-text-container {
    opacity: 1;
}

h2 {
    margin: 0.3rem;
}

.additional-text {
    padding: 1.9rem;
}

.navbar-links li {
    margin: 0 10px;
    position: relative;
}

.navbar-links li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.navbar-links li:hover::after {
    transform: scaleX(1);
}

tbody {
    border-radius: 10%;
}

table {
    float: left;
    border-collapse: collapse;
    width: 48%;
    height: auto;
    color: rgb(212, 212, 212);
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

td {
    vertical-align: top;
}

th,
td {
    border: 3px solid #727272;
    padding: 7px;
    text-align: center;
}

th {
    background-color: #212121;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #656565;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 35, 111);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(12, 41, 99);
    width: 50%;
    height: 50%;

}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
    color: #ffffff;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.form-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    width: 100%;
}

.form-textarea {
    resize: none;
    overflow: hidden;
}

.form-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0097a7;
}

.podnadpis{
    margin: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 60px;
    font: optional;
}

.gallery {
    justify-content: space-around   ;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Negative margin to compensate for padding */
}

.OBRAZKY {
    border-radius: 17px;
    box-shadow: 0 0 10px rgb(8, 69, 134);
    width: calc(33.33% - 90px); /* 33.33% width for each image with some spacing */
    margin: 1rem; /* Spacing between images */
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    font-size: 1vw;
}

img {
    padding: 0.5rem;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 69, 19, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateX(100%); /* Initial position, hidden */
    border-radius: 2%; /* Added border-radius to the text */
}

.OBRAZKY:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.OBRAZKY:hover .text {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 768px) {

    .OBRAZKY {
        padding: 0.2rem;
        font-size: 7px;
        width: calc(100% - 20px);
    }
    .text {
        width: 100%; 
    }
    .navbar-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: rgba(79, 79, 79, 0.897);
        z-index: 1;
    }

    .navbar.show .navbar-links {
        display: flex;
    }

    .navbar.show .navbar-links li {
        margin: 10px 0;
    }

    button {
        width: 97%;
        margin-bottom: 10px;
    }

    video {
        height: auto;
        max-height: none;
    }

    .content {
        top: 50%;
    }

}

svg{
    z-index: 100;
    position:absolute; 
    top: 40px;
    left: -10px
}

a{
    color: rgb(160, 95, 95);
}

h3{
    color: rgb(214, 214, 214);
}

footer{
    margin-bottom: 0%;
    margin-top: 10rem;
    background-color: rgba(45, 45, 45, 0.642);
    color: #7a7a7a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.m{

    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 13px;
    background-color: rgb(113, 113, 113);
    transform: scaleX(1);
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.navgi{
    margin: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    border-radius: 15px;
    padding: 2px;
    background-color: #3a3a3a;
}

.contact{
    margin: 1rem;
    text-align: center;
    justify-content: center;
}



.ikonka{
    color: #7a7a7a;
    padding: 2px;
    margin: 2px;
    transition: opacity 1s ease;
}